.my-site {
  display: grid;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 10fr;
  
}

.header {
  grid-area: h;
  background-color: darkgoldenrod;
}
.header img {
  width: 30px;
}

.nav {
  grid-area: n;
  background-color: darkolivegreen;
}

.content img {
  width: 100%;
  height: 100px;
}
.content {
  grid-area: c;
  background-color: darkviolet;
  
}
